.ant-list-split{
    .ant-spin-container{
            border-top:1px solid black;
            border-left:1px solid black;
            border-right:1px solid black;
        .ant-list-items{
            
            .ant-list-item{
                padding-left: 20px;
                height: 100px;
                border-bottom: 1px solid black;
            }
        }
        
    }
}
 